/* FONTS */
@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/cantarell-extra-bold-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/cantarell-bold-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/cantarell-regular-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}

@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/cantarell-light.woff2) format("woff2");
  font-display: block;
}

:root {
  --rounded-corner: 12px;
  --gnomeblue: #1c71d8;
  --blue1: rgb(153,193,241);
  --blue2: rgb(98,160,234);
  --blue3: rgb(53,132,228);
  --blue4: rgb(28,113,216);
  --blue5: rgb(26,95,180);
  --green1: rgb(143,240,164);
  --green2: rgb(87,227,137);
  --green3: rgb(51,209,122);
  --green4: rgb(46,194,126);
  --green5: rgb(38,162,105);
  --yellow1: rgb(249,240,107);
  --yellow2: rgb(248,228,92);
  --yellow3: rgb(246,211,45);
  --yellow4: rgb(245,194,17);
  --yellow5: rgb(229,165,10);
  --orange1: rgb(255,190,111);
  --orange2: rgb(255,163,72);
  --orange3: rgb(255,120,0);
  --orange4: rgb(230,97,0);
  --orange5: rgb(198,70,0);
  --red1: rgb(246,97,81);
  --red2: rgb(237,51,59);
  --red3: rgb(224,27,36);
  --red4: rgb(192,28,40);
  --red5: rgb(165,29,45);
  --purple1: rgb(220,138,221);
  --purple2: rgb(192,97,203);
  --purple3: rgb(145,65,172);
  --purple4: rgb(129,61,156);
  --purple5: rgb(97,53,131);
  --brown1: rgb(205,171,143);
  --brown2: rgb(181,131,90);
  --brown3: rgb(152,106,68);
  --brown4: rgb(134,94,60);
  --brown5: rgb(99,69,44);
  --light1: rgb(255,255,255);
  --light2: rgb(246,245,244);
  --light3: rgb(222,221,218);
  --light4: rgb(192,191,188);
  --light5: rgb(154,153,150);
  --dark1: rgb(119,118,123);
  --dark2: rgb(94,92,100);
  --dark3: rgb(61,56,70);
  --dark4: rgb(36,31,49);
  --dark5: rgb(0,0,0);
  --text: #f6f5f4;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
@media (min-width: 700px) {
  html, body {
    font-size: 18px;
  }
}
body {
  color: var(--text);
  background: linear-gradient(68deg, var(--blue5) 70%,
                                     var(--purple4) 100%);
}
@media (min-width: 600px) {
  body {
    background: linear-gradient(60deg, var(--blue5) 70%,
                                       var(--purple4) 100%);
  }
}
@media (min-width: 1100px) {
  body {
    background: linear-gradient(66deg, var(--blue5) 50%,
                                       var(--purple2) 90%);
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}
  h1 {
    font-weight: 300;
    font-size: 280%;
  }
  h2 {
    font-weight: 300;
    font-size: 260%;
  }
  h3 {
    font-size: 130%;
  }
a {
  color: var(--blue1);
}
  a.readmore {
    font-weight: bold;
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
  }

/* LAYOUT */
.container,
.container-overview,
.container-settings {
  width: 85%;
  margin: 0 auto;
  max-width: 750px;
}
.container-settings {
  max-width: 1300px;
}
@media (min-width: 1100px) {
  .container-overview {
    width: 100%;
    max-width: 100%;
  }
}


/* COMPONENTS */
.title {
  font-size: 3rem;
  text-align: center;
}
.subtitle {
  display: block;
  max-width: 20em;
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.5rem;
}
.small-print {
  font-size: 1em;
  text-align: center;
  max-width: 34em;
  margin: 1.5rem auto 3rem;
}

.button {
  display: block;
  border-radius: 8px;
  margin: 16px auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.1em rgba(0,0,0, 0.2))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.1rem 0.9em rgba(0,0,0, 0.2));
}

  .button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .button:active {
    transform: scale(0.98);
  }

  .small.button {
    padding: 0.6rem 2rem;
    width: 80%;
    margin: 1rem auto;
    max-width: 14em;
  }

  @media (min-width: 1100px) {
    .small-button {
      width: 45%;
    }
  }

  .green-button {
    background: linear-gradient(0deg, var(--green5) 0%, var(--green3) 100%);
    color: white;
  }
  .blue-button {
    background: linear-gradient(0deg, #3584e4 0%, #62a0ea 100%);
    color: white;
  }
  .white-button {
    background: linear-gradient(0deg, #c0bfbc 0%, #f6f5f4 100%);
    color: #241f31;
  }
  .gray-button {
    background: linear-gradient(0deg, #5e5c64 0%, #9a9996 100%);
    color: white;
  }
  .red-button {
    background: linear-gradient(0deg, #c01c28 0%, #ed333b 100%);
    color: white;
  }

.bigicon {
  width: 80%;
  height: auto;
}

.icon-shadow {
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.1rem rgba(0,0,0, 0.35))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.4rem 0.7rem rgba(0,0,0, 0.18));
}

.group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

  @media (min-width: 600px) {
    .group {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .group .block {
    width: 100%;
    self-align: flex-start;
    flex: 1 1 40%;

  }

  @media (min-width: 600px) {
    .group .block {
      width: 30em;
    }
  }

  .group .block.centered { text-align: center; }

  .block h3 {
    font-size: 1.4em;
  }

  h2 {
    text-align: center;
    margin: 4rem 0 0rem;
  }
  .block p {
    margin: 1rem auto;
  }
  .block .icon {
    margin-bottom: 1rem;
  }

/* ONE-OFF */

.hero-container {
  margin: 8rem 0 3rem;
  position: relative;
}
.hero-logo {
  width: 100%;
  max-height: 50vh;
}

.hero-title {
  font-weight: 800;
  font-size: 1.5rem;
  margin: .5em;
  white-space: nowrap;
}
@media (min-width: 600px) {
  .hero-title { font-size: 2.5rem; }
}

/* mobile first */
.subhero-container {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}
.subhero {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
  .subhero h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .subhero p {
    margin-top: 0rem;
  }
  .subhero strong {
    font-weight: 600;
  }
  .shell-video {
    display: block;
    margin: 0 auto;
    width: 65%;
  }

/* tablet */
@media (min-width: 600px) {
  .subhero {
    flex-direction: row;
    text-align: left;

  }
  .subhero .graphic .shell-video {
    width: 40vw;
    max-width: 300px;
  }
  .subhero .text {
    align-self: center;
    margin: 0 1.5rem;
  }
}
/* desktop */
@media (min-width: 1100px) {
  .subhero-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .subhero {
    flex-direction: column;
    width: 450px;
    margin: 1rem 1rem;
    justify-content: center;
  }
  .subhero-container {
    margin-bottom: 3rem;
  }
  .subhero .text > p {
    padding-left: 1rem;
  }
  .subhero h3 {
    text-align: center;
  }
}

.appgrid {
  display: block;
  margin: 0 auto;
  width: 150vw;
  max-width: 2000px;
  transform: translateX(-25vw);
}
@media (min-width: 800px) {
  .appgrid {
    width: 100vw;
    transform: translateX(0);
  }
}
.dash {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.top-row {
  padding: 3rem 0;
  text-align: center;
}
  @media (min-width: 600px) {
    .top-row { min-height: 100vh; }
  }

.main-row {
  overflow: hidden;
  background-color: var(--dark3);
  padding: 2rem 0 5rem;
}

.centered {
  text-align: center;
}

.secondary-row {
  color: var(--light2);
  overflow: hidden;
  background-color: var(--dark3);
  padding: 3rem 0 6rem;
}

.sponsors-row {
  color: var(--light2);
  overflow: hidden;
  background-color: var(--dark4);
  padding: 3rem 0 6rem;
}

.wallpaper-row {
  color: var(--light);
  overflow: hidden;
  /* background-color: #242424; */
  background-color: var(--dark3);
  padding: 3rem 0;
  position: relative;
}

ul.featuretile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  margin: 2rem 0; padding: 0;
  gap: 1rem;
}
@media (min-width: 900px) {
  ul.featuretile {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

  ul.featuretile li {
    border-radius: var(--rounded-corner);
    background-color: #fff2;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    color: var(--light3);
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    text-align: left;
    padding: 0;
    position: relative;
    clip: auto;
  }
  ul.featuretile li.video {
    display: none;
  }
  @media (min-width: 900px) {
    ul.featuretile li.video {
      display: flex;
      background-color: transparent;
      justify-content: center;
      align-items: stretch;
      z-index: 3;
      transition: transform 300ms ease-out;
    }
    ul.featuretile li.video:hover {
      transform: scale(2);
    }
  }
  ul.featuretile h3 {
    font-size: 1.1rem;
    margin: 1rem 1rem 0;
    text-align: left;
  }
  ul.featuretile p {
    margin: 0.5rem 1rem 1rem;

  }

  ul.featuretile img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgb(46,41,59);
    border: none;
  }

ul.textlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 1rem;
}

  ul.textlist li a {
    display: block;
    text-decoration: none;
    color: var(--light3);
    font-weight: bold;
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1em;
  }

ul.inline {
  display: block;
  padding: 0;
}
  ul.inline li {
    /* display: inline-block; */
    list-style: none;
    margin: 0 1rem;
  }

img.inline-icon {
  display: inline-block;
  width: 32px; height: 32px;
  vertical-align: middle;
}

/* app icons tabs */
#apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* justify-content: space-between;
  align-content: space-between; */
  justify-items: center;
  align-items: ceter;
  width: 100%;
  margin: 2rem 0 5rem; padding: 0;
  gap: 1rem;
  text-align: center;
}
#apps input { display: none; }
#apps input + label {
  display: block;
  text-align: center;
  padding: 3%;
}

@media (min-width: 900px) {
  #apps input + label {
    padding: 1rem;
    margin: 1rem;
  }
}
#apps input + label img {
  transition: transform 300ms ease-in-out;
  max-width: 128px;
  width: calc(100% - 12px); /* scale down for small size */
  height: auto;
}
#apps input + label img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#apps input + label:hover {
  background-color: rgba(255,255,255,0.1);
}

#apps .app {
  display: none; /* hide everything initially*/
  grid-column: span 4;
  transition: all 300ms ease-in-out;
}
#app1:checked ~ .app.content1,
#app2:checked ~ .app.content2,
#app3:checked ~ .app.content3,
#app4:checked ~ .app.content4 { display: block; justify-self: stretch; } /* show content for selected app */

#apps .window-caption {
  max-width: 23em;
  margin: 1rem auto;
}

input + label {
  position: relative;
  top: 1px;
  border-radius: var(--rounded-corner);
}
input:checked + label {
  background-color: rgba(255,255,255,0.3);
}
input ~ .app {
  overflow: hidden;
  padding: 0;
}
input ~ .app > p { /* text-shadow: 0 2px 2px rgba(0,0,0,0.5); */ }
@media (min-width: 900px) {
  input ~ .app > img.fullimg {
    /* width: 60%; */
    margin: 0 auto;
    height: auto;
  }
}

.fullimg {
  display: block;
  width: 100%;
  height: auto;
  margin: .5em 0;
}

@media (min-width: 900px) {
  .semi.fullimg {
    width: 60%;
    margin: .5em auto;
  }
}

.icon-dropshadow {
  filter: drop-shadow(0 1px 3px rgba(0,0,0,0.2));
}

/* SPONSORS */
.sponsors {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sponsor img {
  width: 192px;
}
  .sponsor {
    padding: 1024px;
    filter: /* Sharp drop shadow */
            drop-shadow(0 0.08rem 0.1em rgba(0,0,0, 0.2))
            /* Diffuse ambient shadow */
            drop-shadow(0 0.1rem 0.9em rgba(0,0,0, 0.2));
  }

  .premier-row {
    background-color: var(--purple4);
    border-radius: var(--rounded-corner);
  }
  .diamond-row {
    background-color: var(--blue4);
    border-radius: var(--rounded-corner);
  }


  @media (min-width: 500px) {
    .sponsors > div {
      display: flex;
	    flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .sponsor img {
      width: 96px;
    }
  }


.sponsor {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}
  .sponsor:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .sponsor:active {
    transform: scale(0.98);
  }
  .sponsor-button {
    width: 14em;
    padding: 0.9em 3em;
    font-size: 1.4em;
  }

@media (min-width: 600px) {
  .sponsor img {
    width: 128px;
  }
}
@media (min-width: 900px) {
  .sponsor img {
    width: 192px;
  }
}

/* FOOTER */
footer {
  font-size: 70%;
  background-color: var(--dark5);
  color: white;
  padding: 5rem 3rem 7rem;
  text-align: center;
}

  footer a {
    text-decoration: none;
    font-weight: bold;
  }

  footer .container p { margin: 0 0 1rem; }
  footer .container a { opacity: 0.6; transition: all 600ms ease-out;}
  footer .container a:hover { opacity: 1; }

  #footerlogo {
    margin: 1rem auto;
    display: block;
    width: 120px; height: auto;
  }
